---
const link = "/Contact";
import Image from "astro/components/Image.astro";

// adjust these variable to change your content
const mainText = "Security Information and Event Management";
const secondaryText = "Surveillez, détectez, réagissez, protégez !";
---

<head>
  <link rel="preload" href="/ESP/heroimg.webp" as="image" />
</head>

<section class="relative z-[-10] h-[70vh] w-full">
  <Image
    data-testid="hero-img"
    src="/heroimg.webp"
    alt="hero"
    loading="eager"
    class="absolute inset-0 h-full w-full object-cover"
    width={1920}
    height={1080}
  />
  <div
    class="relative z-10 flex h-full flex-col items-center justify-center text-gray-100"
  >
    <h1
      data-testid="hero-text"
      transition:name="heroTxt"
      class="pb-10 pt-20 text-center text-6xl font-bold drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)] md:text-8xl"
    >
      {mainText}
    </h1>
    <h2
      data-testid="intro-text"
      transition:name="introTxt"
      class="pb-6 text-center text-2xl drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,4)] md:text-4xl"
    >
      {secondaryText}
    </h2>
    
    <button onclick="location.href='https://www.youtube.com/watch?v=zOeSSP9GJcs'" class="bg-red-600 text-white px-4 py-2 rounded">
      Regarder la vidéo
    </button>
  </div>
</section>
