---
import Image from "astro/components/Image.astro";


const mission1 = "ElasticSearch est utilisé pour indexer, stocker et analyser de grandes quantités de données. Il permet des recherches rapides, une scalabilité pour gérer des volumes massifs de logs, la visualisation et l'analyse des événements. Grâce à ses capacités de recherche avancées, il aide à détecter des menaces et à automatiser les alertes de sécurité.";
const mission2 = "React est utilisé pour développer l'interface des analystes de sécurité, offrant une expérience utilisateur réactive et interactive.";
const mission3 = "Le référentiel Mitre ATT&CK, est intégré pour fournir des informations détaillées sur les tactiques et techniques des attaquants, permettra ainsi de créer des règles selon des évenements.";
---

<section
  class="mx-auto mt-20 flex max-w-[80%] flex-col items-center rounded-lg border-y-8 border-blue-400 bg-neutral-950 px-10 py-20 text-center text-gray-100 shadow-lg dark:bg-neutral-900 dark:text-gray-200"
>
  <h1 id="solutions" class="mb-16 text-4xl font-bold">Notre Solution SIEM</h1>
  
  <div class="flex flex-col items-center justify-between gap-20 lg:flex-row lg:gap-32">
    <div class="h-96 w-64 overflow-hidden px-4">
      <!--Update the src to the name of the image uploaded to the public folder -->
    <Image
      src="/ESP/ElasticSearch.png"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full dark:shadow-lg sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56"
    />
        <p class="text-sm text-gray-300 mt-2">{mission1}</p>

  </div>
  <div class="h-96 w-64 overflow-hidden px-4">
    <!--Update the src to the name of the image uploaded to the public folder -->
    <Image
      src="/ESP/R.png"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full dark:shadow-lg sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56"
    />
        <p class="text-sm text-gray-300 mt-2">{mission2}</p>

  </div>
  <div class="h-96 w-64 overflow-hidden px-4">
    <!--Update the src to the name of the image uploaded to the public folder -->
    <Image
      src="/ESP/mittreattack.jpeg"
      alt="example service"
      loading="eager"
      width={160}
      height={160}
      class="mx-auto rounded-full dark:shadow-lg sm:h-48 sm:w-48 md:h-56 md:w-56 lg:h-56 lg:w-56"
    />
        <p class="text-sm text-gray-300 mt-2">{mission3}</p>

  </div>
</section>
